Repository capstone-engine/capstone, pull requests merged in 2024-10, with the labels that each got.

#2499 Fixing UB santizer, `LITBASE` and assert errors.
  .github/workflows/CITest.yml
  CMakeLists.txt
  SStream.c
  arch/AArch64/AArch64AddressingModes.h
  arch/ARM/ARMAddressingModes.h
  arch/HPPA/HPPADisassembler.c
  arch/Xtensa/XtensaDisassembler.c
  arch/Xtensa/XtensaInstPrinter.c
  arch/Xtensa/XtensaMapping.c
  cs_priv.h
  tests/MC/Xtensa/arith.s.yaml
  tests/integration/test_litbase.c
Labels: ARM, AArch64, CS-core-files, HPPA, Github-files

#2500 Update labeler with Xtensa and v6 files.
  .github/labeler.yml
Labels: Github-files

#2501 Add hard asserts to all SStream functions and memset MCInst.
  MCInst.c
  SStream.c
Labels: CS-core-files, LLVM-core-files

#2497 Only trigger on released action.
  .github/workflows/python-publish-release.yml
Labels: Github-files

#2504 Tricore EA calculation
  arch/TriCore/TriCoreInstPrinter.c
  tests/MC/TriCore/ADC_Queued_Scan_1_KIT_TC397_TFT.s.yaml
  tests/issues/issues.yaml
Labels: TriCore

#2516 xtensa: Fix Branch Target
  arch/Xtensa/XtensaDisassembler.c
  arch/Xtensa/XtensaMapping.c
  tests/MC/Xtensa/branch.s.yaml
Labels: Xtensa

#2510 Fix #2509.
  include/capstone/arm64.h
  include/capstone/systemz_compatibility.h
  suite/auto-sync/src/autosync/HeaderPatcher.py
Labels: AArch64, SystemZ, Auto-Sync-files

#2507 AArch64: Replace vararg add_cs_detail by multiple concrete functions
  arch/AArch64/AArch64InstPrinter.c
  arch/AArch64/AArch64InstPrinter.h
  arch/AArch64/AArch64Mapping.c
  arch/AArch64/AArch64Mapping.h
  suite/auto-sync/src/autosync/cpptranslator/Tests/test_patches.py
  suite/auto-sync/src/autosync/cpptranslator/patches/AddCSDetail.py
  tests/issues/issues.yaml
Labels: AArch64, Auto-Sync-files

#2522 Fix stringop-truncation warning some compilers raise.
  cs.c
Labels: CS-core-files

#2525 Adds ARM and AArch64 compatibility macros for the CC/VAS enums
  docs/cs_v6_release_guide.md
  include/capstone/arm.h
  include/capstone/arm64.h
  suite/auto-sync/src/autosync/HeaderPatcher.py
  tests/integration/compat_header/src/test_arm64_compatibility_header.c
Labels: ARM, AArch64, Auto-Sync-files, Documentation

#2528 Fix endianess issue during assignment.
  arch/AArch64/AArch64Mapping.c
Labels: AArch64

#2530 This time actually fix big endian issue.
  bindings/python/capstone/aarch64.py
  bindings/python/cstest_py/src/cstest_py/details.py
  include/capstone/aarch64.h
  suite/cstest/include/test_detail_aarch64.h
  suite/cstest/src/test_detail_aarch64.c
Labels: AArch64, python
