Repository capstone-engine/capstone, pull requests merged in 2024-09, with the labels that each got.

#2460 Some small fixes for capstone-next
  MCInstPrinter.c
  arch/LoongArch/LoongArchModule.h
  include/capstone/aarch64.h
Labels: AArch64, LLVM-core-files, LoongArch

#2389 [next] SH: Use bitwise OR with mask for sign extension
  arch/SH/SHDisassembler.c
Labels: SH

#2466 [next][SuperH] Fix missing setting detail->sh
  arch/SH/SHDisassembler.c
  tests/issues/issues.yaml
Labels: SH

#2479 Fix jumps and branches on a non-zero PC
  arch/Mips/MipsDisassembler.c
  arch/Mips/MipsInstPrinter.c
  arch/Mips/MipsMapping.c
  tests/issues/issues.yaml
Labels: Mips

#2477 ARM fixes
  Mapping.c
  arch/ARM/ARMMapping.c
  arch/ARM/ARMMapping.h
  bindings/python/capstone/arm.py
  bindings/python/capstone/arm_const.py
  cstool/cstool_arm.c
  docs/cs_v6_release_guide.md
  include/capstone/arm.h
  suite/cstest/include/test_mapping.h
  tests/details/arm.yaml
  tests/details/cs_common_details.yaml
  tests/issues/issues.yaml
Labels: ARM, python, CS-core-files, Documentation

#2473 AArch64 issues
  arch/AArch64/AArch64GenCSMappingInsn.inc
  arch/AArch64/AArch64GenDisassemblerTables.inc
  arch/AArch64/AArch64GenInstrInfo.inc
  arch/AArch64/AArch64Mapping.c
  bindings/python/capstone/aarch64.py
  bindings/python/cstest_py/src/cstest_py/details.py
  cstool/cstool_aarch64.c
  docs/cs_v6_release_guide.md
  include/capstone/aarch64.h
  suite/cstest/include/test_case.h
  suite/cstest/include/test_detail_aarch64.h
  suite/cstest/src/test_detail_aarch64.c
  tests/details/aarch64.yaml
  tests/details/cs_common_details.yaml
  tests/issues/issues.yaml
Labels: AArch64, python, LLVM-generated-files, Documentation

#2478 Replace `assert` with `CS_ASSERT` in modules
  CMakeLists.txt
  MCInst.c
  Mapping.c
  Mapping.h
  arch/AArch64/AArch64AddressingModes.h
  arch/AArch64/AArch64BaseInfo.c
  arch/AArch64/AArch64BaseInfo.h
  arch/AArch64/AArch64GenAsmWriter.inc
  arch/AArch64/AArch64GenDisassemblerTables.inc
  arch/AArch64/AArch64InstPrinter.c
  arch/AArch64/AArch64Mapping.c
  arch/ARM/ARMAddressingModes.h
  arch/ARM/ARMBaseInfo.c
  arch/ARM/ARMBaseInfo.h
  arch/ARM/ARMDisassembler.c
  arch/ARM/ARMDisassemblerExtension.c
  arch/ARM/ARMGenAsmWriter.inc
  arch/ARM/ARMInstPrinter.c
  arch/ARM/ARMMapping.c
  arch/Alpha/AlphaGenAsmWriter.inc
  arch/Alpha/AlphaGenDisassemblerTables.inc
  arch/Alpha/AlphaMapping.c
  arch/BPF/BPFInstPrinter.c
  arch/HPPA/HPPADisassembler.c
  arch/HPPA/HPPAInstPrinter.c
  arch/LoongArch/LoongArchGenAsmWriter.inc
  arch/LoongArch/LoongArchGenDisassemblerTables.inc
  arch/LoongArch/LoongArchInstPrinter.c
  arch/LoongArch/LoongArchMapping.c
  arch/Mips/MipsDisassembler.c
  arch/Mips/MipsGenAsmWriter.inc
  arch/Mips/MipsGenDisassemblerTables.inc
  arch/Mips/MipsInstPrinter.c
  arch/Mips/MipsMapping.c
  arch/PowerPC/PPCGenAsmWriter.inc
  arch/PowerPC/PPCGenDisassemblerTables.inc
  arch/PowerPC/PPCInstPrinter.c
  arch/PowerPC/PPCMapping.c
  arch/Sparc/SparcGenAsmWriter.inc
  arch/SystemZ/SystemZGenAsmWriter.inc
  arch/SystemZ/SystemZGenDisassemblerTables.inc
  arch/SystemZ/SystemZInstPrinter.c
  arch/SystemZ/SystemZMCTargetDesc.c
  arch/SystemZ/SystemZMapping.c
  arch/TMS320C64x/TMS320C64xGenAsmWriter.inc
  arch/TriCore/TriCoreGenAsmWriter.inc
  arch/TriCore/TriCoreMapping.c
  arch/XCore/XCoreGenAsmWriter.inc
  bindings/python/capstone/ppc_const.py
  cs_priv.h
  include/capstone/ppc.h
  include/capstone/systemz.h
  suite/auto-sync/src/autosync/ASUpdater.py
  suite/auto-sync/src/autosync/Targets.py
Labels: ARM, Mips, AArch64, Alpha, BPF, PowerPC, Sparc, SystemZ, TriCore, XCore, python, CS-core-files, LLVM-core-files, Auto-Sync-files, LLVM-generated-files, HPPA, LoongArch

#2486 Fix Coverity CID 509730: overflow before widen
  arch/Mips/MipsDisassembler.c
Labels: Mips

#2489 Several small fixups
  .github/workflows/CITest.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/python-tests.yml
  arch/AArch64/AArch64Mapping.h
  bindings/python/capstone/aarch64_const.py
  bindings/python/capstone/ppc_const.py
  include/capstone/aarch64.h
  include/capstone/arm64.h
  include/capstone/systemz_compatibility.h
  suite/auto-sync/src/autosync/HeaderPatcher.py
  suite/cstest/include/test_mapping.h
  tests/issues/issues.yaml
Labels: AArch64, python, Auto-Sync-files, Github-files

#2487 LDR offset
  arch/AArch64/AArch64Mapping.c
  tests/details/aarch64.yaml
  tests/issues/issues.yaml
Labels: AArch64

#2492 Be ready for V6-Alpha1
  CMakeLists.txt
  bindings/java/capstone/Arm_const.java
  bindings/java/capstone/Ppc_const.java
  bindings/java/capstone/Sparc_const.java
  bindings/java/capstone/Systemz_const.java
  bindings/java/capstone/X86_const.java
  bindings/ocaml/arm_const.ml
  bindings/ocaml/ppc_const.ml
  bindings/ocaml/sparc_const.ml
  bindings/ocaml/systemz_const.ml
  bindings/ocaml/x86_const.ml
  bindings/python/capstone/__init__.py
  bindings/python/capstone/xtensa_const.py
  include/capstone/capstone.h
  pkgconfig.mk
Labels: python, java, ocaml, CS-core-files
