Repository capstone-engine/capstone, pull requests merged in 2024-07, with the labels that each got.

#2393 Add access support for RISC-V
  CMakeLists.txt
  Mapping.c
  Mapping.h
  arch/Alpha/AlphaMapping.c
  arch/RISCV/RISCVDisassembler.c
  arch/RISCV/RISCVInstPrinter.c
  arch/RISCV/RISCVMapping.c
  arch/RISCV/RISCVMapping.h
  arch/RISCV/RISCVMappingInsnOp.inc
  bindings/python/capstone/riscv.py
  bindings/python/test_riscv.py
  cstool/cstool_riscv.c
  include/capstone/riscv.h
  suite/cstest/src/riscv_detail.c
  tests/cs_details/issue.cs
  tests/test_riscv.c
Labels: Alpha, RISCV, CS-core-files, LLVM-generated-files

#2399 Constify three ARM and AArch64 variables
  arch/AArch64/AArch64Mapping.c
  arch/ARM/ARMMapping.c
Labels: ARM, AArch64

#2403 [PPC] Fix #2401 - incorrect operands in disassembled instructions
  arch/PowerPC/PPCMapping.c
  tests/cs_details/issue.cs
Labels: PowerPC
