Repository capstone-engine/capstone, pull requests merged in 2024-05, with the labels that each got.

#2307 Fix pkgconfig file to make #include <capstone/capstone.h> work
  capstone.pc.in
Labels: build & packaging

#2350 Rewrite str_replace using snprintf for security and fix clang-tidy
  cs.c
Labels: CS-core-files

#2331 [next] Fix #2244: Don't apply pseudo-instr. offset to `vcmp` id
  cs.c
  suite/cstest/issues.cs
  suite/cstest/src/x86_detail.c
Labels: CS-core-files

#2332 [v5] Fix #2244: Don't apply pseudo-instr. offset to `vcmp` id
  cs.c
  suite/cstest/issues.cs
  suite/cstest/src/x86_detail.c
Labels: X86, CS-core-files

#2346 fix typos
  ChangeLog
  MCInst.h
  MCInstPrinter.h
  arch/AArch64/AArch64Mapping.c
  arch/TriCore/TriCoreInstPrinter.c
  arch/XCore/XCoreDisassembler.c
  bindings/python/pyx/ccapstone.pyx
  bindings/vb6/CX86Inst.cls
  suite/synctools/tablegen/include/llvm/CodeGen/TargetInstrInfo.h
  suite/synctools/tablegen/include/llvm/ProfileData/SampleProfReader.h
  xcode/README.md
Labels: AArch64, TriCore, XCore, LLVM-core-files, Documentation

#2314 Replace non-standard 0b(...) literals
  arch/AArch64/AArch64Disassembler.c
  arch/PowerPC/PPCMapping.c
  bindings/python/capstone/arm_const.py
  bindings/python/capstone/ppc_const.py
  include/capstone/arm.h
  include/capstone/ppc.h
Labels: ARM, AArch64, PowerPC

#2357 README: Mention Alpha and HPPA
  README.md
Labels: Documentation

#2358 Typo and tree-sitter init fix
  arch/HPPA/HPPAInstPrinter.c
  cstool/cstool_powerpc.c
  include/capstone/cs_operand.h
  suite/auto-sync/src/autosync/cpptranslator/Configurator.py
Labels: PowerPC, CS-core-files, HPPA

#2361 Apply #2360 to next
  Mapping.c
Labels: CS-core-files

#2370 Mapping - return NULL if compiled with DIET
  Mapping.c
Labels: CS-core-files

#2362 Fix Warning C4098: void returns value.
  arch/ARM/ARMInstPrinter.c
  arch/Alpha/AlphaMapping.c
  arch/PowerPC/PPCInstPrinter.c
Labels: ARM, Alpha, PowerPC

#2321 AArch64 compatibility header
  .github/workflows/CITest.yml
  CMakeLists.txt
  docs/cs_v6_release_guide.md
  include/capstone/arm64.h
  include/capstone/capstone.h
  suite/auto-sync/c_tests/README.md
  suite/auto-sync/c_tests/src/test_arm64_compatibility_header.c
  suite/auto-sync/src/autosync/ASUpdater.py
  suite/auto-sync/src/autosync/HeaderPatcher.py
  suite/auto-sync/src/autosync/Tests/test_aarch64_header.h
  suite/auto-sync/src/autosync/Tests/test_arm64_header.h
  suite/auto-sync/src/autosync/Tests/test_header_patcher.py
  suite/auto-sync/src/autosync/path_vars.json
Labels: CS-core-files, Documentation
