Repository capstone-engine/capstone, pull requests merged in 2024-08, with the labels that each got.

#2421 [next] Fix unintended zero set in Sparc printInst
  arch/Sparc/SparcInstPrinter.c
  suite/cstest/issues.cs
Labels: Sparc

#2434 Fix static lib (#2433)
  msvc/capstone_static/capstone_static.vcxproj
  msvc/capstone_static_winkernel/capstone_static_winkernel.vcxproj
Labels: build & packaging

#2441 [next] Updates and fixes to the Python wheel builder workflow
  .github/workflows/python-publish-release.yml
  CMakeLists.txt
  bindings/python/setup.py
  suite/check_wheel_bin_arch.py
Labels: build & packaging

#2440 [v5] Updates and fixes to the Python wheel builder workflow
  .github/workflows/python-publish-release.yml
  CMakeLists.txt
  bindings/python/setup.py
  suite/check_wheel_bin_arch.py
Labels: build & packaging

#2431 Add back support for relocatable packages
  CMakeLists.txt
  capstone-config.cmake.in
  capstone.pc.in
  cmake_uninstall.cmake.in
Labels: build & packaging

#2447 Relocatable package v5
  CMakeLists.txt
  capstone-config.cmake.in
  capstone.pc.in
  cmake_uninstall.cmake.in
Labels: build & packaging

#2443 [v5] Wheel build fixes: manylinux1, trigger upload on release, Linux AArch64
  .github/workflows/python-publish-release.yml
  bindings/python/setup.py
  suite/check_wheel_bin_arch.py
Labels: build & packaging

#2444 [next] Wheel build fixes: manylinux1, trigger upload on release, Linux AArch64...
  .github/workflows/python-publish-release.yml
  .github/workflows/python-publish.yml
  bindings/python/setup.py
  suite/check_wheel_bin_arch.py
Labels: python, build & packaging

#2450 Use any-glob for labeler. Otherwise it is not checked recursively.
  .github/labeler.yml
Labels: Github-files
