Repository capstone-engine/capstone, pull requests merged in 2024-12, with the labels that each got.

#2556 Arm regressions
  arch/ARM/ARMGenCSMappingInsn.inc
  arch/ARM/ARMGenCSMappingInsnName.inc
  arch/ARM/ARMGenCSMappingInsnOp.inc
  arch/ARM/ARMMapping.c
  arch/ARM/ARMMappingInsn.inc
  arch/ARM/ARMMappingInsnName.inc
  arch/ARM/ARMMappingInsnOp.inc
  include/capstone/arm.h
  suite/auto-sync/inc_patches/ARM/01_LDM_reg_lists_write_attribute.patch
  suite/auto-sync/src/autosync/IncGenerator.py
  tests/details/arm.yaml
Labels: ARM, Auto-Sync-files, LLVM-generated-files

#2558 Python bindings: Enable more archs + bump cibuildwheel action to the v2.22.0
  .github/workflows/build-wheels-publish.yml
Labels: Github-files

#2559 Add arm64 and sysz compatibility layer to Python bindings
  bindings/python/capstone/arm64.py
  bindings/python/capstone/arm64_const.py
  bindings/python/capstone/systemz.py
  bindings/python/capstone/sysz_const.py
  bindings/python/tests/test_all.py
  bindings/python/tests/test_compatibility_layer.py
  bindings/python/tests/test_customized_mnem.py
  bindings/python/tests/test_iter.py
  bindings/python/tests/test_lite.py
  bindings/python/tests/test_skipdata.py
  docs/cs_v6_release_guide.md
Labels: python, Documentation

#2557 Make thumb, v8 and m-class positional cstool arguments.
  arch/ARM/ARMModule.c
  cstool/cstool.c
Labels: ARM, CS-core-files

#2575 PPC regressions
  arch/PowerPC/PPCGenAsmWriter.inc
  arch/PowerPC/PPCGenCSMappingInsn.inc
  arch/PowerPC/PPCGenCSMappingInsnName.inc
  arch/PowerPC/PPCGenCSMappingInsnOp.inc
  arch/PowerPC/PPCGenCSOpGroup.inc
  arch/PowerPC/PPCGenDisassemblerTables.inc
  arch/PowerPC/PPCGenInstrInfo.inc
  docs/cs_v6_release_guide.md
  include/capstone/ppc.h
  tests/details/ppc.yaml
Labels: PowerPC, LLVM-generated-files, Documentation

#2574 Fix 2572
  arch/AArch64/AArch64GenCSMappingInsn.inc
  arch/AArch64/AArch64GenDisassemblerTables.inc
  suite/auto-sync/src/autosync/ASUpdater.py
  tests/issues/issues.yaml
Labels: AArch64, Auto-Sync-files, LLVM-generated-files

#2580 Clean up the cstest documentation and build instructions.
  BUILDING.md
  bindings/python/BUILDING.md
  suite/cstest/README.md
Labels: python, Documentation

#2568 Update BPF arch
  Mapping.c
  Mapping.h
  SStream.c
  SStream.h
  arch/BPF/BPFConstants.h
  arch/BPF/BPFDisassembler.c
  arch/BPF/BPFDisassembler.h
  arch/BPF/BPFInstPrinter.c
  arch/BPF/BPFMapping.c
  arch/BPF/BPFMapping.h
  bindings/python/capstone/bpf.py
  bindings/python/capstone/bpf_const.py
  bindings/python/cstest_py/src/cstest_py/details.py
  docs/cs_v6_release_guide.md
  include/capstone/bpf.h
  suite/cstest/include/test_compare.h
  suite/cstest/include/test_detail_bpf.h
  suite/cstest/src/test_detail_bpf.c
  tests/MC/BPF/classic-all.yaml
  tests/MC/BPF/extended-all.yaml
  tests/MC/BPF/extended-be.yaml
  tests/details/bpf.yaml
  tests/details/cs_common_details.yaml
Labels: BPF, python, CS-core-files, Documentation

#2578 x86: update read/write registers for transfer instructions
  arch/X86/X86Mapping.c
  arch/X86/X86MappingInsn.inc
  arch/X86/X86MappingInsn_reduce.inc
  tests/details/x86.yaml
  tests/issues/issues.yaml
Labels: X86, LLVM-generated-files

#2579 Capstone v6 now supports Debian Packaging
  .github/workflows/build_deb.yml
  .github/workflows/build_release.yml
  CMakeLists.txt
  LICENSES/LICENSE_DEB_PACKAGE.txt
  capstone.pc.in
  packages/deb/Dockerfile
  packages/deb/README.md
  packages/deb/check_capstone.sh
  packages/deb/control
  packages/deb/setup.sh
Labels: Documentation, Github-files

#2584 Fix complex atomic instructions handling
  arch/BPF/BPFDisassembler.c
Labels: BPF

#2587 Fix linking issue on Windows.
  arch/BPF/BPFMapping.c
Labels: BPF

#2586 Clarify between machine used vs. Capstone module affected.
  .github/ISSUE_TEMPLATE/bug_report_asm.md
  .github/ISSUE_TEMPLATE/bug_report_general.md
Labels: Github-files
