Repository capstone-engine/capstone, pull requests merged in 2024-03, with the labels that each got.

#2259 Avoid random access values for operands in not-yet-specified instructions.
  arch/X86/X86ATTInstPrinter.c
  arch/X86/X86InstPrinterCommon.h
  arch/X86/X86IntelInstPrinter.c
  arch/X86/X86MappingInsnOp.inc
  suite/cstest/issues.cs
Labels: X86, LLVM-generated-files

#2297 Remove repetitive words
  COMPILE_CMAKE.TXT
  suite/synctools/tablegen/include/llvm/CodeGen/CodeGenPassBuilder.h
  suite/synctools/tablegen/include/llvm/CodeGen/GlobalISel/LegalizerHelper.h
  suite/synctools/tablegen/include/llvm/CodeGen/LiveInterval.h
  suite/synctools/tablegen/include/llvm/CodeGen/TargetPassConfig.h
Labels: Documentation

#2300 Fix invalid comparison with HPPA_OP_INVALID
  arch/HPPA/HPPAInstPrinter.c
  arch/HPPA/HPPAMapping.c
  bindings/python/test_hppa.py
  cstool/cstool_hppa.c
  suite/cstest/src/hppa_detail.c
  tests/test_hppa.c
Labels: HPPA
