Repository capstone-engine/capstone, pull requests merged in 2024-04, with the labels that each got.

#2306 Do not use 0b prefix, not supported on old compilers
  arch/TriCore/TriCoreInstPrinter.c
Labels: bug, build & packaging

#2309 HPPA dissassembler fix unitialized variables errors
  arch/HPPA/HPPADisassembler.c
  cstool/cstool_hppa.c
Labels: HPPA

#2326 chore: remove repetitive words
  arch/AArch64/AArch64Mapping.c
  arch/M680X/M680XDisassembler.c
  suite/synctools/tablegen/include/llvm/CodeGen/GlobalISel/MachineIRBuilder.h
  suite/synctools/tablegen/include/llvm/CodeGen/ISDOpcodes.h
  suite/synctools/tablegen/include/llvm/CodeGen/ScheduleDAG.h
  suite/synctools/tablegen/include/llvm/CodeGen/TargetLowering.h
  suite/synctools/tablegen/include/llvm/IR/InstrTypes.h
  suite/synctools/tablegen/include/llvm/IR/LegacyPassManagers.h
  suite/synctools/tablegen/include/llvm/IR/PassManagerInternal.h
  suite/synctools/tablegen/include/llvm/Target/Target.td
Labels: AArch64, M680X

#2311 Update CMakeLists.txt version (See #2310)
  CMakeLists.txt
Labels: build & packaging

#2315 Fix cstool Makefile for non-C99-defaulting compilers
  cstool/Makefile
Labels: build & packaging

#2322 check if decode[idx] is callable
  arch/SH/SHDisassembler.c
Labels: SH

#2323 Add eBPF bswap16/32/64 instruction
  arch/BPF/BPFDisassembler.c
  arch/BPF/BPFMapping.c
  bindings/python/capstone/bpf_const.py
  include/capstone/bpf.h
  suite/cstest/issues.cs
Labels: BPF

#2312 Add a clang-tidy checks and warnings
  .github/workflows/clang-tidy.yml
  .gitignore
  CMakeLists.txt
  arch/AArch64/AArch64BaseInfo.h
  arch/AArch64/AArch64Disassembler.c
  arch/AArch64/AArch64GenAsmWriter.inc
  arch/AArch64/AArch64InstPrinter.c
  arch/AArch64/AArch64Mapping.c
  arch/ARM/ARMDisassembler.c
  arch/ARM/ARMMapping.c
  arch/HPPA/HPPADisassembler.c
  arch/M68K/M68KDisassembler.c
  cstool/cstool.c
  docs/cs_v6_release_guide.md
  run-clang-tidy.sh
  suite/fuzz/fuzz_disasm.c
Labels: ARM, AArch64, M68K, CS-core-files, LLVM-generated-files, Documentation, Testing, build & packaging, HPPA

#2335 [next] Fix #2128 by adding missing mapping values.
  arch/X86/X86MappingInsn.inc
  arch/X86/X86MappingInsnOp.inc
  suite/cstest/issues.cs
Labels: X86, LLVM-generated-files

#2334 [v5] Fix #2128 by adding missing mapping values.
  arch/X86/X86MappingInsn.inc
  arch/X86/X86MappingInsnOp.inc
  suite/cstest/issues.cs
Labels: X86

#2330 [next] Fix #2079: Add missing 1 immediate to `rcl`
  arch/X86/X86Mapping.c
  arch/X86/X86Mapping.h
  arch/X86/X86Module.c
  suite/cstest/issues.cs
Labels: X86

#2329 [v5] Fix #2079: Add missing 1 immediate to `rcl`
  arch/X86/X86Mapping.c
  arch/X86/X86Mapping.h
  arch/X86/X86Module.c
  suite/cstest/issues.cs
Labels: X86

#2333 [v5] Fix incorrect ID mappings for PPC
  arch/PowerPC/PPCMappingInsn.inc
Labels: PowerPC
