Repository capstone-engine/capstone, pull requests merged in 2024-01, with the labels that each got.

#2242 Remove comment stating support for multiple `clang-format` versions
  suite/auto-sync/README.md
Labels: auto-sync-files, LLVM-generated-files, Documentation

#2243 Fix label assignment for LLVM generated files.
  .github/labeler.yml
Labels: LLVM-generated-files, Documentation

#2245 Constify Alpha and TriCore
  arch/Alpha/AlphaMapping.c
  arch/TriCore/TriCoreMapping.c
Labels: Alpha, TriCore, LLVM-generated-files, Documentation

#2248 Fix compilation with DIET + X86_REDUCE
  arch/X86/X86GenAsmWriter1_reduce.inc
  arch/X86/X86IntelInstPrinter.c
Labels: X86, LLVM-generated-files

#2249 Fix warnings when building with CAPSTONE_DIET
  arch/AArch64/AArch64GenAsmWriter.inc
  arch/AArch64/AArch64InstPrinter.c
  arch/ARM/ARMGenAsmWriter.inc
  arch/ARM/ARMInstPrinter.c
  arch/Alpha/AlphaGenAsmWriter.inc
  arch/BPF/BPFMapping.c
  arch/EVM/EVMMapping.c
  arch/MOS65XX/MOS65XXDisassembler.c
  arch/PowerPC/PPCGenAsmWriter.inc
  arch/PowerPC/PPCInstPrinter.c
  arch/TMS320C64x/TMS320C64xGenAsmWriter.inc
  arch/X86/X86Mapping.c
  cs.c
Labels: X86, ARM, AArch64, Alpha, BPF, EVM, MOS65XX, PowerPC, CS-core-files, LLVM-generated-files

#2250 Fix MSVC warning overrides when using non-MSVC toolchains
  MathExtras.h
  arch/X86/X86ATTInstPrinter.c
  arch/X86/X86Disassembler.c
  arch/X86/X86InstPrinterCommon.c
  arch/X86/X86IntelInstPrinter.c
  arch/XCore/XCoreInstPrinter.c
  cs.c
Labels: X86, XCore, CS-core-files

#2252 Add support for architecture registration
  CMakeLists.txt
  COMPILE_CMAKE.TXT
  cs.c
  include/capstone/capstone.h
Labels: CS-core-files

#2253 Fix crash on x86 when building with MSVC
  arch/AArch64/AArch64GenAsmWriter.inc
  arch/ARM/ARMGenAsmWriter.inc
  arch/Alpha/AlphaGenAsmWriter.inc
  arch/Mips/MipsGenAsmWriter.inc
  arch/PowerPC/PPCGenAsmWriter.inc
  arch/RISCV/RISCVGenAsmWriter.inc
  arch/Sparc/SparcGenAsmWriter.inc
  arch/SystemZ/SystemZGenAsmWriter.inc
  arch/TMS320C64x/TMS320C64xGenAsmWriter.inc
  arch/TriCore/TriCoreGenAsmWriter.inc
  arch/X86/X86GenAsmWriter.inc
  arch/X86/X86GenAsmWriter1.inc
  arch/X86/X86GenAsmWriter1_reduce.inc
  arch/X86/X86GenAsmWriter_reduce.inc
  arch/XCore/XCoreGenAsmWriter.inc
Labels: X86, ARM, Mips, AArch64, Alpha, PowerPC, RISCV, Sparc, SystemZ, TriCore, XCore, LLVM-generated-files

#2251 Fix regressions in custom memory allocator support
  arch/AArch64/AArch64GenAsmWriter.inc
  arch/AArch64/AArch64InstPrinter.c
  arch/ARM/ARMDisassembler.c
  arch/ARM/ARMGenAsmWriter.inc
  arch/PowerPC/PPCGenAsmWriter.inc
Labels: ARM, AArch64, PowerPC, LLVM-generated-files

#2257 auto-sync BitCastStdArray.py: Transform to `union` instead
  arch/AArch64/AArch64AddressingModes.h
  suite/auto-sync/Updater/CppTranslator/Patches/BitCastStdArray.py
Labels: AArch64
