Repository capstone-engine/capstone, pull requests merged in 2024-11, with the labels that each got.

#2523 tricore: fixes #2474
  .github/workflows/auto-sync.yml
  arch/TriCore/TriCore.td
  arch/TriCore/TriCoreCallingConv.td
  arch/TriCore/TriCoreDisassembler.c
  arch/TriCore/TriCoreGenAsmWriter.inc
  arch/TriCore/TriCoreGenCSFeatureName.inc
  arch/TriCore/TriCoreGenCSMappingInsn.inc
  arch/TriCore/TriCoreGenCSMappingInsnName.inc
  arch/TriCore/TriCoreGenCSMappingInsnOp.inc
  arch/TriCore/TriCoreGenCSOpGroup.inc
  arch/TriCore/TriCoreGenDisassemblerTables.inc
  arch/TriCore/TriCoreGenInstrInfo.inc
  arch/TriCore/TriCoreGenRegisterInfo.inc
  arch/TriCore/TriCoreGenSubtargetInfo.inc
  arch/TriCore/TriCoreInstPrinter.c
  arch/TriCore/TriCoreInstrFormats.td
  arch/TriCore/TriCoreInstrInfo.td
  arch/TriCore/TriCoreLinkage.h
  arch/TriCore/TriCoreMapping.c
  arch/TriCore/TriCoreMapping.h
  arch/TriCore/TriCoreModule.c
  arch/TriCore/TriCoreRegisterInfo.td
  arch/Xtensa/XtensaMapping.c
  include/capstone/tricore.h
  suite/auto-sync/src/autosync/MCUpdater.py
  suite/auto-sync/src/autosync/Targets.py
  suite/auto-sync/src/autosync/cpptranslator/arch_config.json
  suite/auto-sync/src/autosync/cpptranslator/saved_patches.json
  tests/details/tricore.yaml
Labels: TriCore, Auto-Sync-files, LLVM-generated-files, Github-files, Xtensa

#2521 Change CI to create Debian Package to Release
  .dockerignore
  .gitattributes
  .github/workflows/build_release.yml
  CMakeLists.txt
  bindings/python/setup.py
  debian/.gitignore
  debian/Dockerfile
  debian/check_capstone.sh
  debian/control
  debian/postinst
  debian/setup.sh
  nmake.bat
Labels: python, Github-files

#2534 Rename cmake build arguments
  .github/workflows/CITest.yml
  .github/workflows/clang-tidy.yml
  BUILDING.md
  CMakeLists.txt
  bindings/python/setup.py
  debian/Dockerfile
Labels: python, Documentation, Github-files

#2533 xtensa: update to espressif/llvm-project
  Mapping.h
  arch/Xtensa/XtensaDisassembler.c
  arch/Xtensa/XtensaGenAsmWriter.inc
  arch/Xtensa/XtensaGenCSFeatureName.inc
  arch/Xtensa/XtensaGenCSMappingInsn.inc
  arch/Xtensa/XtensaGenCSMappingInsnName.inc
  arch/Xtensa/XtensaGenCSMappingInsnOp.inc
  arch/Xtensa/XtensaGenCSOpGroup.inc
  arch/Xtensa/XtensaGenDisassemblerTables.inc
  arch/Xtensa/XtensaGenInstrInfo.inc
  arch/Xtensa/XtensaGenRegisterInfo.inc
  arch/Xtensa/XtensaGenSubtargetInfo.inc
  arch/Xtensa/XtensaInstPrinter.c
  arch/Xtensa/XtensaMapping.c
  arch/Xtensa/XtensaMapping.h
  arch/Xtensa/priv.h
  bindings/python/capstone/xtensa.py
  bindings/python/capstone/xtensa_const.py
  cs.c
  cstool/cstool.c
  cstool/cstool_xtensa.c
  include/capstone/capstone.h
  include/capstone/xtensa.h
  suite/auto-sync/src/autosync/cpptranslator/CppTranslator.py
  suite/auto-sync/src/autosync/cpptranslator/Tests/test_patches.py
  suite/auto-sync/src/autosync/cpptranslator/patches/AddCSDetail.py
  suite/auto-sync/src/autosync/cpptranslator/patches/LLVM_DEBUG.py
  suite/auto-sync/src/autosync/cpptranslator/patches/LLVMunreachable.py
  suite/auto-sync/src/autosync/cpptranslator/patches/isUInt.py
  suite/auto-sync/src/autosync/cpptranslator/saved_patches.json
  suite/cstest/include/test_detail.h
  suite/cstest/include/test_detail_xtensa.h
  suite/cstest/include/test_mapping.h
  suite/cstest/src/test_detail.c
  suite/cstest/src/test_detail_xtensa.c
  suite/fuzz/drivermc.c
  suite/fuzz/fuzz_diff.c
  suite/fuzz/fuzz_harness.c
  suite/fuzz/platform.c
  tests/MC/Xtensa/l32r.yaml
  tests/details/xtensa.yaml
  tests/integration/test_litbase.c
Labels: python, CS-core-files, Auto-Sync-files, LLVM-generated-files, Xtensa

#2546 fix coverity
  arch/LoongArch/LoongArchMapping.c
  arch/Xtensa/XtensaDisassembler.c
Labels: LoongArch, Xtensa

#2538 Python package building rework
  .github/workflows/build-wheels-publish.yml
  .github/workflows/python-publish-release.yml
  .github/workflows/python-tests.yml
  bindings/python/MANIFEST.in
  bindings/python/Makefile
  bindings/python/README.txt
  bindings/python/build_wheel.sh
  bindings/python/cstest_py/pyproject.toml
  bindings/python/cstest_py/src/cstest_py/cstest.py
  bindings/python/pyproject.toml
  bindings/python/setup.py
  suite/cstest/test/integration_tests.py
  suite/run_tests.py
Labels: python, Github-files

#2532 Auto-Sync reproducability + ARM update
  MCInst.c
  Mapping.h
  arch/ARM/ARMAddressingModes.h
  arch/ARM/ARMBaseInfo.c
  arch/ARM/ARMDisassembler.c
  arch/ARM/ARMDisassemblerExtension.c
  arch/ARM/ARMDisassemblerExtension.h
  arch/ARM/ARMGenAsmWriter.inc
  arch/ARM/ARMGenCSAliasMnemMap.inc
  arch/ARM/ARMGenCSFeatureName.inc
  arch/ARM/ARMGenCSMappingInsn.inc
  arch/ARM/ARMGenCSMappingInsnName.inc
  arch/ARM/ARMGenCSMappingInsnOp.inc
  arch/ARM/ARMGenCSOpGroup.inc
  arch/ARM/ARMGenDisassemblerTables.inc
  arch/ARM/ARMGenInstrInfo.inc
  arch/ARM/ARMGenRegisterInfo.inc
  arch/ARM/ARMGenSubtargetInfo.inc
  arch/ARM/ARMGenSystemRegister.inc
  arch/ARM/ARMInstPrinter.c
  arch/ARM/ARMInstPrinter.h
  arch/ARM/ARMMapping.c
  bindings/python/capstone/arm.py
  include/capstone/arm.h
  suite/auto-sync/.gitignore
  suite/auto-sync/inc_patches/03_Vector_Data_Type.patch
  suite/auto-sync/inc_patches/04_Vector_size.patch
  suite/auto-sync/inc_patches/ARM/01_LDM_reg_lists_write_attribute.patch
  suite/auto-sync/inc_patches/ARM/01_LDM_written_reglists.patch
  suite/auto-sync/inc_patches/ARM/02_VSCCLRM_written_reglists.patch
  suite/auto-sync/inc_patches/ARM/02_vector_data_types.patch
  suite/auto-sync/inc_patches/ARM/03_vector_size.patch
  suite/auto-sync/src/autosync/ASUpdater.py
  suite/auto-sync/src/autosync/IncGenerator.py
  suite/auto-sync/src/autosync/cpptranslator/Differ.py
  suite/auto-sync/src/autosync/cpptranslator/Tests/Differ/expected/diff_test_file_patching_new.c
  suite/auto-sync/src/autosync/cpptranslator/Tests/Differ/expected/diff_test_file_patching_replace.c
  suite/auto-sync/src/autosync/cpptranslator/Tests/Differ/new_src/diff_test_file_patching_new.c
  suite/auto-sync/src/autosync/cpptranslator/Tests/Differ/new_src/diff_test_file_patching_replace.c
  suite/auto-sync/src/autosync/cpptranslator/Tests/Differ/old_src/diff_test_file_patching_new.c
  suite/auto-sync/src/autosync/cpptranslator/Tests/Differ/old_src/diff_test_file_patching_replace.c
  suite/auto-sync/src/autosync/cpptranslator/Tests/Differ/output/README.md
  suite/auto-sync/src/autosync/cpptranslator/Tests/Differ/test_arch_config.json
  suite/auto-sync/src/autosync/cpptranslator/Tests/test_differ.py
  suite/auto-sync/src/autosync/cpptranslator/saved_patches.json
  suite/auto-sync/src/autosync/path_vars.json
Labels: ARM, python, CS-core-files, LLVM-core-files, Auto-Sync-files, LLVM-generated-files, Documentation

#2551 fix xtensa DecodeMR23RegisterClass and add tests for MAC16 instru…
  arch/Xtensa/XtensaDisassembler.c
  tests/MC/Xtensa/mac16.s.yaml
Labels: Xtensa

#2552 Prepare for update
  bindings/const_generator.py
  bindings/java/capstone/Arm_const.java
  bindings/ocaml/arm_const.ml
  bindings/python/capstone/arm_const.py
  bindings/python/capstone/tricore_const.py
  bindings/python/capstone/xtensa_const.py
  include/capstone/arm.h
  pkgconfig.mk
Labels: ARM, python, java, ocaml
