Repository capstone-engine/capstone, pull requests merged in 2024-06, with the labels that each got.

#2378 Remove python2 leftovers
  .github/workflows/CITest.yml
  bindings/python/BUILDING.txt
  bindings/python/Makefile
  bindings/python/capstone/__init__.py
  bindings/python/setup.py
  bindings/python/test_aarch64.py
  bindings/python/test_alpha.py
  bindings/python/test_arm.py
  bindings/python/test_basic.py
  bindings/python/test_bpf.py
  bindings/python/test_customized_mnem.py
  bindings/python/test_detail.py
  bindings/python/test_evm.py
  bindings/python/test_hppa.py
  bindings/python/test_iter.py
  bindings/python/test_lite.py
  bindings/python/test_m680x.py
  bindings/python/test_m68k.py
  bindings/python/test_mips.py
  bindings/python/test_mos65xx.py
  bindings/python/test_ppc.py
  bindings/python/test_riscv.py
  bindings/python/test_sh.py
  bindings/python/test_skipdata.py
  bindings/python/test_sparc.py
  bindings/python/test_systemz.py
  bindings/python/test_tms320c64x.py
  bindings/python/test_tricore.py
  bindings/python/test_wasm.py
  bindings/python/test_x86.py
  bindings/python/test_xcore.py
  bindings/python/xprint.py
Labels: python

#2355 Restructure auto-sync docs to have them more contained
  suite/auto-sync/ARCHITECTURE.md
  suite/auto-sync/README.md
  suite/auto-sync/intro.md
Labels: auto-sync-files, Documentation

#2313 Add test with ASAN enabled.
  .github/workflows/CITest.yml
  CMakeLists.txt
  COMPILE_CMAKE.TXT
  Mapping.h
  arch/ARM/ARMMapping.c
  arch/HPPA/HPPAInstPrinter.c
  arch/HPPA/HPPAMapping.c
  arch/PowerPC/PPCMapping.c
  cs.c
  cstool/cstool.c
  cstool/cstool_arm.c
  docs/cs_v6_release_guide.md
  suite/cstest/Makefile
  suite/cstest/README.md
  suite/cstest/build_cstest.sh
  suite/cstest/cstest_report.py
  suite/cstest/include/helper.h
  suite/cstest/src/arm_detail.c
  suite/cstest/src/capstone_test.c
  suite/cstest/src/helper.c
  suite/cstest/src/main.c
  suite/run_invalid_cstool.sh
  tests/cs_details/issue.cs
Labels: ARM, PowerPC, CS-core-files, Documentation, Testing, build & packaging, HPPA

#2387 fix typos
  CMakeLists.txt
  ChangeLog
  arch/ARM/ARMDisassembler.c
  arch/SH/SHInstPrinter.c
  include/capstone/ppc.h
  packages/rpm/capstone.spec
  suite/synctools/tablegen/include/llvm/CodeGen/GlobalISel/GISelWorkList.h
  suite/synctools/tablegen/include/llvm/CodeGen/GlobalISel/InstructionSelector.h
  suite/synctools/tablegen/include/llvm/CodeGen/ScheduleDAG.h
  suite/synctools/tablegen/include/llvm/CodeGen/TargetLowering.h
  suite/synctools/tablegen/include/llvm/IR/DebugInfoMetadata.h
  suite/synctools/tablegen/include/llvm/ProfileData/Coverage/CoverageMapping.h
  suite/synctools/tablegen/include/llvm/ProfileData/InstrProfWriter.h
  suite/synctools/tablegen/include/llvm/ProfileData/SampleProf.h
Labels: ARM, PowerPC, SH
