Repository capstone-engine/capstone, pull requests merged in 2025-06, with the labels that each got.

#2721 Use cs_ac_type for operand access mode in all arches and use cs_xtensa_op_type for Xtensa operand type
  arch/M680X/M680XDisassembler.c
  bindings/python/capstone/aarch64.py
  bindings/python/capstone/alpha.py
  bindings/python/capstone/arm.py
  bindings/python/capstone/bpf.py
  bindings/python/capstone/hppa.py
  bindings/python/capstone/m680x.py
  bindings/python/capstone/mips.py
  bindings/python/capstone/riscv.py
  bindings/python/capstone/systemz.py
  bindings/python/capstone/tricore.py
  bindings/python/capstone/x86.py
  cstool/cstool_xtensa.c
  docs/cs_v6_release_guide.md
  include/capstone/aarch64.h
  include/capstone/arm.h
  include/capstone/bpf.h
  include/capstone/loongarch.h
  include/capstone/m680x.h
  include/capstone/mips.h
  include/capstone/riscv.h
  include/capstone/tricore.h
  include/capstone/x86.h
  include/capstone/xtensa.h
Labels: X86, ARM, Mips, AArch64, BPF, M680X, RISCV, TriCore, python, Documentation, LoongArch, Xtensa

#2723 Make SStream respect the CS_OPT_UNSIGNED flag.
  SStream.c
  SStream.h
  cs.c
  tests/issues/issues.yaml
  tests/unit/sstream.c
Labels: CS-core-files

#2729 Make assertion hit warnings optional in release builds.
  .github/workflows/CITest.yml
  CMakeLists.txt
  arch/ARC/ARCGenDisassemblerTables.inc
  arch/BPF/BPFDisassembler.c
  cs_priv.h
  docs/cs_v6_release_guide.md
Labels: BPF, CS-core-files, LLVM-generated-files, Documentation, Github-files, ARC

#2733 Enable to generate legacy MC tests for the fuzzer.
  suite/auto-sync/.gitignore
  suite/auto-sync/src/autosync/ASUpdater.py
  suite/auto-sync/src/autosync/MCUpdater.py
  suite/auto-sync/src/autosync/Tests/MCUpdaterTests/expected/fuzz/test_a.txt.cs
  suite/auto-sync/src/autosync/Tests/MCUpdaterTests/expected/fuzz/test_b.txt.cs
  suite/auto-sync/src/autosync/Tests/test_mcupdater.py
  suite/auto-sync/src/autosync/path_vars.json
Labels: Auto-Sync-files

#2705 Update Auto-Sync to Python 3.13 and tree-sitter-py 24.0
  suite/auto-sync/pyproject.toml
  suite/auto-sync/src/autosync/cpptranslator/Configurator.py
  suite/auto-sync/src/autosync/cpptranslator/CppTranslator.py
  suite/auto-sync/src/autosync/cpptranslator/Differ.py
  suite/auto-sync/src/autosync/cpptranslator/TemplateCollector.py
  suite/auto-sync/src/autosync/cpptranslator/Tests/test_patches.py
  suite/auto-sync/src/autosync/cpptranslator/patches/BitCastStdArray.py
  suite/auto-sync/src/autosync/cpptranslator/patches/StreamOperation.py
  suite/auto-sync/src/autosync/cpptranslator/tree_sitter_compatibility.py
Labels: Auto-Sync-files
