Repository capstone-engine/capstone, pull requests merged in 2025-02, with the labels that each got.

#2620 Fix wrong version requirement of tricore instructions
  arch/TriCore/TriCoreDisassembler.c
  arch/TriCore/TriCoreGenAsmWriter.inc
  arch/TriCore/TriCoreGenCSMappingInsn.inc
  arch/TriCore/TriCoreGenCSMappingInsnOp.inc
  arch/TriCore/TriCoreGenDisassemblerTables.inc
  arch/TriCore/TriCoreGenInstrInfo.inc
  tests/MC/TriCore/tc110.s.yaml
  tests/MC/TriCore/tc120.s.yaml
  tests/MC/TriCore/tc130.s.yaml
  tests/MC/TriCore/tc131.s.yaml
  tests/MC/TriCore/tc160.s.yaml
  tests/MC/TriCore/tc161.s.yaml
  tests/MC/TriCore/tc180.s.yaml
Labels: TriCore, LLVM-generated-files

#2625 Python bindings: Switch to ubuntu-24.04-arm runner image
  .github/workflows/build-wheels-publish.yml
Labels: Github-files

#2627 Build Tarball before DEB/RPM package.
  .github/workflows/build_release.yml
Labels: Github-files

#2635 Add aliases mapping for MIPS & test for id, alias_id
  arch/Mips/MipsMapping.c
  bindings/java/capstone/Mips_const.java
  bindings/ocaml/mips_const.ml
  bindings/python/capstone/mips_const.py
  bindings/python/cstest_py/src/cstest_py/cstest.py
  include/capstone/mips.h
  suite/cstest/include/test_case.h
  suite/cstest/include/test_detail_mips.h
  suite/cstest/include/test_mapping.h
  suite/cstest/src/test_case.c
  suite/cstest/src/test_detail_mips.c
  tests/issues/issues.yaml
Labels: Mips, python, java, ocaml

#2640 Add checks for MIPS details on cstest_py
  bindings/python/cstest_py/src/cstest_py/details.py
Labels: python
