Repository capstone-engine/capstone, pull requests merged in 2025-03, with the labels that each got.

#2624 Python bindings: sdist creation fix + relative test
  .github/workflows/build-wheels-publish.yml
  bindings/python/setup.py
Labels: python, Github-files

#2633 Update operand type enums of all arch modules to the one in `capstone.h`
  bindings/java/capstone/M680x_const.java
  bindings/java/capstone/M68k_const.java
  bindings/java/capstone/Mips_const.java
  bindings/java/capstone/Sparc_const.java
  bindings/java/capstone/TMS320C64x_const.java
  bindings/java/capstone/Wasm_const.java
  bindings/java/capstone/X86_const.java
  bindings/java/capstone/Xcore_const.java
  bindings/ocaml/m680x_const.ml
  bindings/ocaml/m68k_const.ml
  bindings/ocaml/mips_const.ml
  bindings/ocaml/sparc_const.ml
  bindings/ocaml/tms320c64x_const.ml
  bindings/ocaml/wasm_const.ml
  bindings/ocaml/x86_const.ml
  bindings/ocaml/xcore_const.ml
  bindings/python/capstone/bpf_const.py
  bindings/python/capstone/hppa_const.py
  bindings/python/capstone/m680x_const.py
  bindings/python/capstone/m68k_const.py
  bindings/python/capstone/mips_const.py
  bindings/python/capstone/mos65xx_const.py
  bindings/python/capstone/riscv_const.py
  bindings/python/capstone/sh_const.py
  bindings/python/capstone/sparc_const.py
  bindings/python/capstone/tms320c64x_const.py
  bindings/python/capstone/wasm_const.py
  bindings/python/capstone/x86_const.py
  bindings/python/capstone/xcore_const.py
  bindings/python/capstone/xtensa_const.py
  include/capstone/bpf.h
  include/capstone/hppa.h
  include/capstone/m680x.h
  include/capstone/m68k.h
  include/capstone/mips.h
  include/capstone/mos65xx.h
  include/capstone/riscv.h
  include/capstone/sh.h
  include/capstone/sparc.h
  include/capstone/tms320c64x.h
  include/capstone/wasm.h
  include/capstone/x86.h
  include/capstone/xcore.h
  include/capstone/xtensa.h
  suite/cstest/include/test_mapping.h
  tests/issues/issues.yaml
Labels: X86, Mips, BPF, M680X, M68K, MOS65XX, RISCV, SH, Sparc, WASM, XCore, python, java, ocaml, HPPA, Xtensa

#2638 Enhance shift value and types of shift instructions.
  arch/AArch64/AArch64Mapping.c
  bindings/python/capstone/aarch64_const.py
  include/capstone/aarch64.h
  include/capstone/arm64.h
  suite/cstest/include/test_mapping.h
  tests/details/aarch64.yaml
Labels: AArch64, python

#2645 Fix #2643
  arch/SystemZ/SystemZMCTargetDesc.h
  suite/auto-sync/src/autosync/cpptranslator/saved_patches.json
Labels: SystemZ, Auto-Sync-files

#2648 Tms32c64x Little Endian
  arch/TMS320C64x/TMS320C64xDisassembler.c
  arch/TMS320C64x/TMS320C64xInstPrinter.c
  arch/TMS320C64x/TMS320C64xModule.c
  cs.c
  cstool/cstool.c
  tests/details/tms320c64x.yaml
Labels: TMS320C64x, CS-core-files

#2651 Add call group to svc, smc and hvc.
  arch/AArch64/AArch64GenCSMappingInsn.inc
  tests/issues/issues.yaml
Labels: AArch64, LLVM-generated-files

#2662 Decode BH field in print_insn_detail_ppc
  cstool/cstool_powerpc.c
Labels: PowerPC
