Repository capstone-engine/capstone, pull requests merged in 2025-04, with the labels that each got.

#2661 Remove undefined constants in riscv_const.py (#2660)
  bindings/python/capstone/riscv_const.py
  include/capstone/riscv.h
Labels: RISCV, python

#2663 Stringify BH fields when printing ppc details
  cstool/cstool_powerpc.c
  include/capstone/ppc.h
Labels: PowerPC

#2665 MIPS: Fix MIPS16 decoding, wrong flags and ghost registers
  arch/Mips/MipsDisassembler.c
  arch/Mips/MipsGenDisassemblerTables.inc
  arch/Mips/MipsInstPrinter.c
  suite/cstest/include/test_mapping.h
  tests/MC/Mips/valid-mips32r6-el.txt.yaml
  tests/MC/Mips/valid-mips32r6.txt.yaml
  tests/details/cs_common_details.yaml
  tests/issues/issues.yaml
Labels: Mips, LLVM-generated-files

#2667 Add a script to compare the inc file content with the lastest generated ones.
  .github/workflows/auto-sync.yml
  suite/auto-sync/src/autosync/CompareInc.py
Labels: Auto-Sync-files, Github-files

#2673 Mips32r6_64r632 is for both mips32r6 and mips64r6
  arch/Mips/MipsDisassembler.c
  tests/MC/Mips/valid-mips32r6-el.txt.yaml
  tests/MC/Mips/valid-mips32r6.txt.yaml
  tests/issues/issues.yaml
Labels: Mips

#2672 Fix nanoMIPS decoding of jalrc
  arch/Mips/MipsDisassembler.c
  tests/issues/issues.yaml
Labels: Mips

#2678 Revert "Add a script to compare the inc file content with the lastest generated ones."
  .github/workflows/auto-sync.yml
  suite/auto-sync/src/autosync/CompareInc.py
Labels: Auto-Sync-files, Github-files

#2680 Update read/written registers for x87 comparison instructions
  arch/X86/X86MappingInsn.inc
  arch/X86/X86MappingInsnOp.inc
  tests/details/x86.yaml
Labels: X86, LLVM-generated-files
