Repository capstone-engine/capstone, pull requests merged in 2025-01, with the labels that each got.

#2594 Fix LoongArch aliases and CS_OPT_SYNTAX_NO_DOLLAR support
  arch/LoongArch/LoongArchInstPrinter.c
  arch/LoongArch/LoongArchInstPrinter.h
  arch/LoongArch/LoongArchMapping.c
  arch/LoongArch/LoongArchMapping.h
  bindings/python/capstone/__init__.py
  bindings/python/capstone/loongarch_const.py
  cstool/cstool.c
  include/capstone/capstone.h
  include/capstone/loongarch.h
  tests/issues/issues.yaml
Labels: python, CS-core-files, LoongArch

#2593 Update Actions
  .github/workflows/CITest.yml
  .github/workflows/auto-sync.yml
  .github/workflows/fuzz.yml
  .github/workflows/labeler.yml
Labels: Github-files

#2590 Implement CPack for Debian/RPM
  .github/workflows/build_release.yml
  BUILDING.md
  CMakeLists.txt
  CPackConfig.cmake
  CPackConfig.txt
  LICENSES/LICENSE_DEB_PACKAGE.txt
  packages/deb/.gitignore
  packages/deb/Dockerfile
  packages/deb/README.md
  packages/deb/check_capstone.sh
  packages/deb/control
  packages/deb/setup.sh
  packages/rpm/capstone.spec
  packages/rpm/postinstall.sh
Labels: Documentation, Github-files

#2595 Add tricore tc1.8 instructions
  arch/TriCore/TriCoreDisassembler.c
  arch/TriCore/TriCoreGenAsmWriter.inc
  arch/TriCore/TriCoreGenCSFeatureName.inc
  arch/TriCore/TriCoreGenCSMappingInsn.inc
  arch/TriCore/TriCoreGenCSMappingInsnName.inc
  arch/TriCore/TriCoreGenCSMappingInsnOp.inc
  arch/TriCore/TriCoreGenDisassemblerTables.inc
  arch/TriCore/TriCoreGenInstrInfo.inc
  arch/TriCore/TriCoreGenSubtargetInfo.inc
  bindings/python/capstone/__init__.py
  bindings/python/capstone/tricore_const.py
  cs.c
  cstool/cstool.c
  include/capstone/capstone.h
  include/capstone/tricore.h
  suite/MC/TriCore/tc130.s.cs
  suite/MC/TriCore/tc131.s.cs
  suite/MC/TriCore/tc160.s.cs
  suite/MC/TriCore/tc161.s.cs
  suite/MC/TriCore/tc162.s.cs
  suite/MC/TriCore/tc180.c.cs
  suite/cstest/include/test_mapping.h
  suite/fuzz/platform.c
  suite/test_corpus3.py
  tests/MC/TriCore/debug.s.yaml
  tests/MC/TriCore/tc130.s.yaml
  tests/MC/TriCore/tc131.s.yaml
  tests/MC/TriCore/tc160.s.yaml
  tests/MC/TriCore/tc161.s.yaml
  tests/MC/TriCore/tc162.s.yaml
  tests/MC/TriCore/tc180.s.yaml
  tests/details/tricore.yaml
Labels: TriCore, python, CS-core-files, LLVM-generated-files

#2602 Apply new EVM opcode updates
  arch/EVM/EVMDisassembler.c
  arch/EVM/EVMMapping.c
  arch/EVM/EVMMappingInsn.inc
  bindings/java/capstone/Evm_const.java
  bindings/ocaml/evm_const.ml
  bindings/python/capstone/__init__.py
  bindings/python/capstone/evm_const.py
  include/capstone/evm.h
  tests/details/evm.yaml
Labels: EVM, python, java, ocaml, LLVM-generated-files
