Repository capstone-engine/capstone, pull requests merged in 2025-07, with the labels that each got.

#2745 Fix for Risc-V C.SRLI decoding (issue #2731)
  arch/RISCV/RISCVGenDisassemblerTables.inc
  tests/issues/issues.yaml
Labels: RISCV, LLVM-generated-files

#2746 HPPA fix mem operands access and instruction printing
  arch/HPPA/HPPAInstPrinter.c
  arch/HPPA/HPPAMapping.c
  bindings/python/capstone/hppa.py
  bindings/python/cstest_py/src/cstest_py/details.py
  cstool/cstool_hppa.c
  include/capstone/hppa.h
  suite/cstest/include/test_detail_hppa.h
  suite/cstest/src/test_detail_hppa.c
  tests/MC/HPPA/alu11.s.yaml
  tests/MC/HPPA/arith_imm11.s.yaml
  tests/MC/HPPA/assist20.s.yaml
  tests/MC/HPPA/branch11.s.yaml
  tests/MC/HPPA/branch20.s.yaml
  tests/MC/HPPA/computation20.s.yaml
  tests/MC/HPPA/copr_dw11.s.yaml
  tests/MC/HPPA/float11.s.yaml
  tests/MC/HPPA/float20.s.yaml
  tests/MC/HPPA/index_mem11.s.yaml
  tests/MC/HPPA/longimm20.s.yaml
  tests/MC/HPPA/mem_mgmt11.s.yaml
  tests/MC/HPPA/memory_reference20.s.yaml
  tests/MC/HPPA/multimedia20.s.yaml
  tests/MC/HPPA/no_grp11.s.yaml
  tests/MC/HPPA/sfu11.s.yaml
  tests/MC/HPPA/shexdep11.s.yaml
  tests/MC/HPPA/sysctrl20.s.yaml
  tests/MC/HPPA/system_op11.s.yaml
  tests/details/cs_common_details.yaml
  tests/details/hppa.yaml
Labels: python, HPPA

#2743 Handle zero case of R1 operand field
  arch/SystemZ/SystemZMapping.c
  tests/issues/issues.yaml
Labels: SystemZ

#2750 Fix comisd memory operand size: xmmword -> qword
  arch/X86/X86IntelInstPrinter.c
  tests/details/x86.yaml
  tests/issues/issues.yaml
Labels: X86

#2752 Fix missing repne for movsd op
  arch/X86/X86Mapping.c
  tests/issues/issues.yaml
Labels: X86

#2753 Explain more details about CC change.
  docs/cs_v6_release_guide.md
Labels: ARM, AArch64, Documentation

#2762 Print register access type and registers accessed in cstool_mips.c
  cstool/cstool_mips.c
Labels: Mips

#2763 Implement cs_regs_access for Alpha architecture
  arch/Alpha/AlphaMapping.c
  arch/Alpha/AlphaMapping.h
  arch/Alpha/AlphaModule.c
  cstool/cstool_alpha.c
  tests/details/alpha.yaml
Labels: Alpha
